name: Build Time Analysis
on: [push]

jobs:
  Analysis:
    runs-on: ubuntu-24.04
    env:
      CC: clang-16
      CXX: clang++-16
      CFLAGS: -ftime-trace
      CXXFLAGS: -ftime-trace
    strategy:
      fail-fast: false

    steps:
    - name: Install packages
      run: |
        sudo apt-get update
        sudo apt-get install -y xorg-dev libx11-xcb-dev libxkbcommon-dev libwayland-dev libpulse-dev libasound2-dev nasm libssl-dev

    - name: Prepare Build Analyzer
      run: |
        cd
        git clone --recursive https://github.com/aras-p/ClangBuildAnalyzer.git buildAnalyzer
        cd buildAnalyzer
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=RELEASE ..
        cmake --build . -- -j$(( `nproc` + 1 ))
        echo "$PWD" >> $GITHUB_PATH

    - uses: actions/checkout@v4

    - name: Submodule
      shell: bash
      run: |
        git submodule update --init # not recursive

    - name: Configure
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=RELEASE ..

    - name: Build
      run: |
        cd build
        ClangBuildAnalyzer --start .
        cmake --build . -- -j$(( `nproc` + 1 ))
        ClangBuildAnalyzer --stop . buildAnalysis

    - name: Analyze
      run: |
        cd build
        ClangBuildAnalyzer --analyze buildAnalysis
